body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}
h1{
    color: rgb(6, 5, 98);
    text-align: center;
    font-weight: 900;
}
#page{
    background-color: beige;
    min-height: 87vh;
}
img{
    width: 80%;
}
div#left-container {
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    left: 40px;
    top: 40px;
    position: absolute;
    height: 100%;
    padding: 20px;
}
div#right-container{
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    left: auto;
    top: 40px;
    position: absolute;
    height: 100%;
    padding: 20px;
}
.plant-holder{
    position: relative;
    height: 110px;
    left: -10px;
}
.plant{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}
.plant-holder img{
    width: 90px;
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    /* z-index: 2; */
    left: 12%;
}
.jar-walls{
    height: 80%;
    width: 90%;
    background: rgb(144, 247, 219);
    border-radius: 1rem;
    position: absolute;
    bottom: 0.5%;
    left: 1%;
    opacity: 0.5;
    z-index: 1;
}
.jar-bottom{
    width: 50%;
    height: 1%;
    background: rgb(144, 247, 219) ;
    position: absolute;
    bottom: 0%;
    left: 25%;
    opacity: 0.7;
}
.dirt{
    width: 60%;
    height: 5%;
    background: #3a3a3a;
    position: absolute;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;
    opacity: 0.7;
    z-index: 1;
}
#terrarium{
    position: relative;
    width: 55%;
    height: 80vh;
    margin: auto;
    z-index: 0;
}